/* .asd {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #0241AE;
} */


/* .modalTitle {
    display: flex;
    justify-content: space-between;
} */


/* ----------------------- modal style -------------- */


/* --------- header -------- */