    .headerComponent {
        height: 92px;
        width: 100%;
        margin: 0px;
        border-bottom: 1px solid #D0D5DD;
        display: flex;
        justify-content: center;
    }
    
    .headerLogo {
        width: 130px;
        height: 50px;
        position: relative;
        top: 20px;
        cursor: pointer;
    }
    
    .dropDownBtn {
        width: 162px;
        height: 44px;
        position: relative;
        left: 140px;
        top: 38px;
        border: 1px solid #D0D5DD;
        border-radius: 8px 0px 0px 8px;
        border-right: 0px;
        text-align: center;
    }
    
    .textCategory {
        color: #0241AE;
        text-decoration: none;
        text-align: center;
    }
    /* search component */
    
    .searchForm {
        position: relative;
        margin-top: -60px;
    }
    
    .searchInput {
        width: 460px;
        height: 44px;
        position: relative;
        margin-left: 300px;
        margin-top: -6px;
        border-right: 0px;
        border-radius: 0px 0px 0px 0px;
    }
    
    .btnSearchIcon {
        position: relative;
        margin-top: -84px;
        margin-left: 750px;
        height: 44px;
        border: 1px solid #D0D5DD;
        border-left: 0px;
        border-radius: 0px 8px 8px 0px;
    }
    
    .searchIcon {
        position: relative;
        margin-bottom: 5px;
    }
    /* favourites button */
    
    .ColorText {
        color: #4D5464;
        text-decoration: none;
    }
    
    .favouritesBtn {
        position: relative;
        width: 130px;
        height: 44px;
        bottom: 37px;
        margin-top: -5px;
        left: 35px;
    }
    
    .userBtn {
        position: relative;
        margin-top: -82px;
        margin-left: 40px;
        height: 44px;
    }
    
    .ColorTextd {
        color: #4D5464;
        text-decoration: none;
    }
    
    #headerIcons {
        position: relative;
        margin-bottom: 3px;
        margin-right: 5px;
    }
    /* ------------------- Carousel styles ----------------------- */
    
    .latest {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    
    .buttonSeeEverything {
        background-color: white;
        color: #0241AE;
        border: 0px;
    }