    .headerComponent {
        height: 92px;
        width: 100%;
        border-bottom: 1px solid #D0D5DD;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* align-content: center; */
    }
    
    .headerLogo {
        width: 130px;
        height: 50px;
    }
    
    .dropDownBtn {
        width: 162px;
        height: 44px;
        border: 1px solid #D0D5DD;
        border-radius: 8px 0px 0px 8px;
        border-right: 0px;
        text-align: center;
    }
    
    .textCategory {
        color: #0241AE;
        text-decoration: none;
        text-align: center;
    }
    /* search component */
    
    .searchInput {
        width: 460px;
        height: 44px;
        border-right: 0px;
        border-radius: 0px 0px 0px 0px;
    }
    
    .searchIcon {
        height: 44px;
        border: 1px solid #D0D5DD;
        border-left: 0px;
        border-radius: 0px 8px 8px 0px;
    }
    /* favourites button */
    
    .ColorText {
        color: #4D5464;
        text-decoration: none;
    }
    
    .favouritesBtn {
        width: 150px;
        height: 44px;
    }
    
    .userBtn {
        width: 150px;
        height: 44px;
    }
    
    .ColorTextd {
        color: #4D5464;
        text-decoration: none;
    }
    
    #headerIcons {
        position: relative;
        margin-bottom: 3px;
        margin-right: 5px;
    }
    
    #navbarScroll {
        justify-content: space-around;
    }
    /* ------------------- Carousel styles ----------------------- */
    
    .carousel {
        border: 1px solid red;
    }
    
    .cds {
        justify-content: space-between;
    }
    
    .seeEverythingBtn {
        justify-content: center;
        display: flex;
        align-items: center;
    }
    
    .cardContainer {
        width: 262.5px;
        height: 252px;
        border: 1px solid #E4E7EC;
        border-radius: 12px 12px 12px 12px;
        display: flex;
        justify-content: center;
    }